<nav class="bottom-nav">
  <div class="bottom-nav-inner">
    <a class="bnav-btn b-home" routerLink="/welcome" routerLinkActive="active"><span class="bnav-icon">🏠</span>Inicio</a>
    <a class="bnav-btn b-rpd" routerLink="/rpd" routerLinkActive="active"><span class="bnav-icon">🧠</span>RPD</a>
    <a class="bnav-btn b-expo" routerLink="/expo" routerLinkActive="active"><span class="bnav-icon">🪜</span>Expo</a>
    <a class="bnav-btn b-expo" routerLink="/ec" routerLinkActive="active"><span class="bnav-icon">🔬</span>EC</a>
    <a class="bnav-btn b-verify" routerLink="/verify" routerLinkActive="active"><span class="bnav-icon">🔎</span>VH</a>
    <a class="bnav-btn b-relax" routerLink="/relax" routerLinkActive="active"><span class="bnav-icon">🫁</span>Calma</a>
    <a class="bnav-btn b-history" routerLink="/history" routerLinkActive="active"><span class="bnav-icon">📋</span>Registros</a>
  </div>
</nav>
